.box {
  margin: 75px;
  padding: 75px;
  border-radius: 15px;
  box-shadow: 0px 0px 37px 17px rgba(42, 154, 240, 0.2);
}

.list {
  margin: 50px 0;
}

li {
  list-style: none;
}

.link {
  display: block;
  margin: 25px;
  padding: 10px 20px;
  background-color: rgb(113, 118, 184);
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
}